@media (max-width: 992px) {
    .notification-menu {
        background: linear-gradient(210.96deg, rgba(40, 36, 88, 0.61) 0.01%, rgba(38, 35, 83, 0.7) 42.05%, rgba(62, 59, 115, 0) 104.81%);
        .notification-menu-card-body {
            h5, p {
                color: white !important;
            }
        }
    }

    .notification-content {
        background-color: black;
        &::-webkit-scrollbar {
            width: 1px; /* ширина для вертикального скролла */
            background-color: black;
        }
        &::-webkit-scrollbar-button:vertical:start:decrement {
            background-color: black;
        }
        
        &::-webkit-scrollbar-button:vertical:end:increment {
            background-color: black;
        }
    }
    .wallet-cards {
        width: 185px;
    }
    .trend-cards {
        width: 200px;
    }

    .wallet-amount {
        font-size: 14px;
    }

    .add-currency a {
        font-size: 14px;
    }

}

@media (max-width:767px) {
    #content {
        margin-left: 0;
    }

    h5 {
        text-align: center;
    }


    .profile-dropdown {
        background-color: black;
    }

    .empty {
        min-height: auto;
    }
}

@media (max-width:575px) {
    .wallet-cards {
        margin-right: 2px;
    }

    .notification-menu {
        width: 350px;
    }

    .notification-content {
        padding-right: 0;
        padding-left: 5px;
    }
}