#graphic {
    height: 500px;
    background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);

    .tradingview-widget-container {
        height: 500px;
    }

    #tradingview_38d36 {
        height: inherit;
    }
}