html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: $main-color;
    font-family: 'HelveticaNeue' !important;
}

#container {
    min-height: 100%;
    width: 100%;
    position: relative;
}

#content {
    margin-left: 300px;
    position: relative;
}

h2 {
    color: aliceblue;
}