#page-header {
    p {
        color: $text-color;
        font-weight: 600;
    }
}

.header-icons {
    margin-right: 40px;
    .menu {
        margin-left: 25px;
    }
}

.btn-notification {
    background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
    border-radius: 14px;
    color: white;
    font-weight: 500;
    box-shadow: 0px 4px 31px 0px rgba(186, 19, 88, 1);
    border-color: transparent;
}


.profile-name {
    color: $text-color;
}

.toggle-notification::after {
    display: none !important;
}

.dropdown-toggle::after {
    color: $text-color;
}