#left-menu {
    min-height: 100vh;
    position: fixed;
    left: 0px;
    background: linear-gradient(180deg, rgba(38, 34, 80, 0.65) 0%, rgba(27, 25, 66, 0.85) 57.44%, #17163B 100%);

    .left-menu-heading {
        font-size: 18px;
        padding-left: 23px;
        font-weight: 100;
        .bold-heading {
            font-weight: bold;
        }
    }

    .menu-1 {
        padding-bottom: 40px;
        position: relative;
    }

    .menu-2 {
        padding-bottom: 50px;
        position: relative;
    }

    .menu-3 {
        padding-bottom: 40px;
        position: relative;
        .notification {
            top: 18px;
            background: linear-gradient(180deg, #FF40A5 0%, #E14CD1 100%);
            right: 50px;
        }
    }

    .menu-4 {
        padding-bottom: 40px;
        position: relative;
    }

    a {
        color: #6F6C99;
        font-size: 16px;
        font-weight: 600;
    }

    svg {
        margin-right: 25px;
    }
}



#left-menu-list {
    margin-top: 145px;
}