.trend-cards {
    width: 250px;
    margin-right: 20px;
    background-color: transparent;
    height: min-content;

    a {
        text-decoration: none;
    }

    &:hover {
        // background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
        
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        .logo-currency {
            fill: white;
        }
    }

    .logo-currency {
        display: block;
        margin: auto;
        
    }

    .trend-currency {
        font-weight: bold;
        color: #f5f5f5;
        font-weight: bold;
    }

    .trend-amount {
        color: white;
        opacity: 0.7;
        margin-top: 10px;
    }

    .trend-percentage {
        color: $text-color;
        margin-left: 35px;
        .percent { 
            font-size: 11px;
            font-weight: 600;
            svg {
                margin-right: 6px;
            }
        }
        .down {
            color: $down-indicator-color;
        }
        .up {
            color: $up-indicator-color;
        }
    }
}