$main-color :  radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201D47 0%, #17153A 100%);
$font-stack : 'HelveticaNeue';
$text-color : #6F6C99;
$wallet-border-color: #312F62;
$down-indicator-color : rgba(227, 80, 122, 1);
$up-indicator-color : rgba(80, 227, 194, 1);



@font-face {
    font-family: 'HelveticaNeue';
    src: url(../font/HelveticaNeueCyr-Light.woff);
}