$main-color :  radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201D47 0%, #17153A 100%);
$font-stack : 'HelveticaNeue';
$text-color : #6F6C99;


@font-face {
    font-family: 'HelveticaNeue';
    src: url(../font/HelveticaNeueCyr-Light.woff);
}