@charset "UTF-8";
h5 {
  color: #B1AFCD;
  font-weight: 700;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url(../font/HelveticaNeueCyr-Light.woff);
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #201D47 0%, #17153A 100%);
  font-family: "HelveticaNeue" !important;
}

#container {
  min-height: 100%;
  width: 100%;
  position: relative;
}

#content {
  margin-left: 300px;
  position: relative;
}

h2 {
  color: aliceblue;
}

#left-menu {
  min-height: 100vh;
  position: fixed;
  left: 0px;
  background: linear-gradient(180deg, rgba(38, 34, 80, 0.65) 0%, rgba(27, 25, 66, 0.85) 57.44%, #17163B 100%);
}
#left-menu .left-menu-heading {
  font-size: 18px;
  padding-left: 23px;
  font-weight: 100;
}
#left-menu .left-menu-heading .bold-heading {
  font-weight: bold;
}
#left-menu .menu-1 {
  padding-bottom: 40px;
  position: relative;
}
#left-menu .menu-2 {
  padding-bottom: 50px;
  position: relative;
}
#left-menu .menu-3 {
  padding-bottom: 40px;
  position: relative;
}
#left-menu .menu-3 .notification {
  top: 18px;
  background: linear-gradient(180deg, #FF40A5 0%, #E14CD1 100%);
  right: 50px;
}
#left-menu .menu-4 {
  padding-bottom: 40px;
  position: relative;
}
#left-menu a {
  color: #6F6C99;
  font-size: 16px;
  font-weight: 600;
}
#left-menu svg {
  margin-right: 25px;
}

#left-menu-list {
  margin-top: 145px;
}

#page-header p {
  color: #6F6C99;
  font-weight: 600;
}

.header-icons {
  margin-right: 40px;
}
.header-icons .menu {
  margin-left: 25px;
}

.btn-notification {
  background: linear-gradient(136.67deg, #FF409A 8.34%, #C438EF 95.26%);
  border-radius: 14px;
  color: white;
  font-weight: 500;
  box-shadow: 0px 4px 31px 0px rgb(186, 19, 88);
  border-color: transparent;
}

.profile-name {
  color: #6F6C99;
}

.toggle-notification::after {
  display: none !important;
}

.dropdown-toggle::after {
  color: #6F6C99;
}

.notification-menu {
  width: 450px;
  height: 250px;
  background: linear-gradient(210.96deg, rgba(40, 36, 88, 0.61) 0.01%, rgba(38, 35, 83, 0.7) 42.05%, rgba(62, 59, 115, 0) 104.81%);
  filter: drop-shadow(0px 48px 69px rgba(23, 18, 43, 0.845335));
  z-index: 1;
}

.notification-content {
  padding-right: 25px;
  padding-left: 40px;
  height: inherit;
  overflow: auto;
}
.notification-content::-webkit-scrollbar {
  width: 10px;
  /* ширина для вертикального скролла */
  background-color: #143861;
}
.notification-content::-webkit-scrollbar-button:vertical:start:decrement {
  background-color: #f6f8f4;
}
.notification-content::-webkit-scrollbar-button:vertical:end:increment {
  background-color: #f6f8f4;
}
.notification-content .notification-menu-heading {
  color: rgb(177, 175, 205);
  text-transform: uppercase;
  margin-top: 25px;
}

.notification-menu-card {
  height: max-content;
  background: inherit;
  border: none;
  margin-top: 30px;
  width: 320px;
}
.notification-menu-card .notification-menu-card-body {
  padding: 0;
}
.notification-menu-card .notification-menu-card-body .notif-heading-right {
  margin-left: auto;
  font-size: 16px;
}
.notification-menu-card h5 {
  color: rgba(255, 255, 255, 0.7);
  font-weight: bold !important;
}
.notification-menu-card p {
  font-weight: 200 !important;
  color: #6F6C99 !important;
}

.notif-card-stats .percent {
  font-size: 16px;
  font-weight: 600;
}
.notif-card-stats .up {
  color: rgb(80, 227, 194);
}
.notif-card-stats .currency {
  color: white;
  font-weight: 700;
}
.notif-card-stats .notif-link {
  color: #70B2FF;
  font-weight: 500;
}

.profile-dropdown {
  background: linear-gradient(210.96deg, rgba(40, 36, 88, 0.61) 0.01%, rgba(38, 35, 83, 0.7) 42.05%, rgba(62, 59, 115, 0) 104.81%);
  filter: drop-shadow(0px 48px 69px rgba(23, 18, 43, 0.845335));
  z-index: 1;
}
.profile-dropdown li a {
  color: #6F6C99;
  font-weight: 700;
}

.wallet-cards {
  width: 200px;
  margin-right: 20px;
  background-color: transparent;
  border: 1px solid #312F62;
  border-radius: 10px;
  height: min-content;
}
.wallet-cards a {
  text-decoration: none;
}
.wallet-cards:hover {
  background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.wallet-cards:hover .logo-currency {
  fill: white;
}
.wallet-cards .logo-currency {
  display: block;
  margin: auto;
}
.wallet-cards .wallet-amount {
  color: white;
  opacity: 0.7;
}
.wallet-cards .wallet-amount .wallet-currency {
  opacity: 0.3;
  font-weight: bold;
  font-size: 12px;
  margin-left: 10px;
}
.wallet-cards .wallet-percentage {
  color: #6F6C99;
}
.wallet-cards .wallet-percentage .percent {
  font-size: 11px;
  font-weight: 600;
}
.wallet-cards .wallet-percentage .percent svg {
  margin-right: 6px;
}
.wallet-cards .wallet-percentage .down {
  color: rgb(227, 80, 122);
}
.wallet-cards .wallet-percentage .up {
  color: rgb(80, 227, 194);
}

.empty {
  border: 1px dashed #312F62;
  height: auto;
  min-height: 115px;
}
.empty .add-currency {
  display: block;
  margin: auto;
  color: #6F6C99;
  font-size: 14px;
  font-weight: bold;
}
.empty .add-currency a {
  color: #6F6C99;
}
.empty .add-currency a:hover {
  color: white;
}

#graphic {
  height: 500px;
  background: linear-gradient(135deg, #40DDFF 0%, #14BAE3 19.24%, #13B1E6 68.64%, #11AADF 81.77%, #0B98C5 100%);
}
#graphic .tradingview-widget-container {
  height: 500px;
}
#graphic #tradingview_38d36 {
  height: inherit;
}

.trend-cards {
  width: 250px;
  margin-right: 20px;
  background-color: transparent;
  height: min-content;
}
.trend-cards a {
  text-decoration: none;
}
.trend-cards:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.trend-cards:hover .logo-currency {
  fill: white;
}
.trend-cards .logo-currency {
  display: block;
  margin: auto;
}
.trend-cards .trend-currency {
  font-weight: bold;
  color: #f5f5f5;
  font-weight: bold;
}
.trend-cards .trend-amount {
  color: white;
  opacity: 0.7;
  margin-top: 10px;
}
.trend-cards .trend-percentage {
  color: #6F6C99;
  margin-left: 35px;
}
.trend-cards .trend-percentage .percent {
  font-size: 11px;
  font-weight: 600;
}
.trend-cards .trend-percentage .percent svg {
  margin-right: 6px;
}
.trend-cards .trend-percentage .down {
  color: rgb(227, 80, 122);
}
.trend-cards .trend-percentage .up {
  color: rgb(80, 227, 194);
}

@media (max-width: 992px) {
  .notification-menu {
    background: linear-gradient(210.96deg, rgba(40, 36, 88, 0.61) 0.01%, rgba(38, 35, 83, 0.7) 42.05%, rgba(62, 59, 115, 0) 104.81%);
  }
  .notification-menu .notification-menu-card-body h5, .notification-menu .notification-menu-card-body p {
    color: white !important;
  }

  .notification-content {
    background-color: black;
  }
  .notification-content::-webkit-scrollbar {
    width: 1px;
    /* ширина для вертикального скролла */
    background-color: black;
  }
  .notification-content::-webkit-scrollbar-button:vertical:start:decrement {
    background-color: black;
  }
  .notification-content::-webkit-scrollbar-button:vertical:end:increment {
    background-color: black;
  }

  .wallet-cards {
    width: 185px;
  }

  .trend-cards {
    width: 200px;
  }

  .wallet-amount {
    font-size: 14px;
  }

  .add-currency a {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  #content {
    margin-left: 0;
  }

  h5 {
    text-align: center;
  }

  .profile-dropdown {
    background-color: black;
  }

  .empty {
    min-height: auto;
  }
}
@media (max-width: 575px) {
  .wallet-cards {
    margin-right: 2px;
  }

  .notification-menu {
    width: 350px;
  }

  .notification-content {
    padding-right: 0;
    padding-left: 5px;
  }
}

/*# sourceMappingURL=all.css.map */
